<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Number of robots -->
  <arg name="n" default="1"/>
  <!-- Robot name -->
  <arg name="robot_0" default="my_robot_0" />
  <arg name="robot_1" default="my_robot_1" />
  <arg name="robot_2" default="my_robot_2" />

  <node name="extrinsic_calib" pkg="image_elab" type="extrinsic_calib_node" respawn="false" output="screen"/>

  <node name="rectify_image" pkg="image_elab" type="rectify_node" respawn="true" output="screen"/>

  <node name="unwarp_image" pkg="image_elab" type="unwarp_node" respawn="true" output="screen"/>

  <node name="obstacle_detector" pkg="image_elab" type="obstacle_detector_node" respawn="true" output="screen"/>

  <group>
    <node name="robot_detector" pkg="image_elab" type="robot_detector_node" respawn="true" output="screen" ns="$(arg robot_0)"/>
  </group>

  <group if="$(eval n >= 2)">
    <node name="robot_detector" pkg="image_elab" type="robot_detector_node" respawn="true" output="screen" ns="$(arg robot_1)"/>
  </group>

  <group if="$(eval n >= 3)">
    <node name="robot_detector" pkg="image_elab" type="robot_detector_node" respawn="true" output="screen" ns="$(arg robot_2)"/>
  </group>

</launch>

